/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

.classpath
.project
.settings

*~
.DS_Store
#*#

resources/data.db
resources/mongo_data
resources/results.json

AI*/
